.btn:not(:disabled):not(.disabled) {
}

.btn:not(:disabled):not(.disabled) {
  border:3px solid rgb(20,15,15);
  border-radius:30px;
}

.col.TopNav {
  margin:30px 0;
}

.row .excerpt {
  border-top:10px solid #444;
}

