<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechNews</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Modern+Antiqua}">
    <link rel="stylesheet" th:href="@{/assets/css/Features-Boxed.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Footer-Basic.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col TopNav">
                    <nav class="navbar navbar-light navbar-expand-md">
                        <div class="container-fluid"><a class="navbar-brand" href="home.html"><img src="assets/img/TechNews.svg" style="margin:0 0 0 -100px;padding:0;"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                            <div
                                class="collapse navbar-collapse" id="navcol-1">
                                <ul class="nav navbar-nav ml-auto">
                                    <li class="nav-item" role="presentation"><a class="nav-link active" href="login.html">Login/ Register</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="subscribe.html">Subscribe</a></li>
                                </ul>
                        </div>
                </div>
                </nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="categories.html">Mobile</a></li>
                    <li class="nav-item"><a class="nav-link" href="categories.html">Artificial Intelligence</a></li>
                    <li class="nav-item"><a class="nav-link" href="categories.html">App Review</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>
     <div class="col mt-auto">
            <h2>Newspaper Sales Have Been Declining, A report Says</h2>
            <p class="text-black-50" style="height:20px;"><em>March 30, 2018</em></p><img src="assets/img/bn-2.jpg" width="50%" height="300px">
            <p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend. Nullam viverra tincidunt dolor, at pulvinar dui. Nullam at risus ut ipsum viverra
                posuere. Aliquam quis convallis enim. Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. Aliquam finibus nulla quam, a iaculis justo finibus non. Suspendisse in fermentum nunc. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend ...<br><br></p><a class="btn btn-primary continue-reading-btn" role="button" href="ContinueReading.html" style="background-color:rgba(0,123,255,0);color:rgb(20,15,15);">Continue Reading</a></div>
        </div>
    </section>
    <div>
        <div class="container">
            <div class="row excerpt" style="margin:40px 0;">
                <div class="col-md-4">
                    <h2>Voices Need to be Heard</h2>
                    <p class="text-black-50" style="height:20px;"><em>March 30, 2018</em></p><img src="assets/img/21.jpg" height="10%">
                    <p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend. Nullam viverra tincidunt dolor, at pulvinar dui. Nullam at risus ut ipsum
                        viverra posuere. Aliquam quis &nbsp;...<br><br></p><button class="btn btn-primary continue-reading-btn" type="button" style="background-color:rgba(0,123,255,0);color:rgb(20,15,15);">Continue Reading</button></div>
                <div class="col">
                    <h2>Riots In Atlanta</h2>
                    <p class="text-black-50" style="height:20px;"><em>March 30, 2018</em></p><img src="assets/img/18.jpg" height="100px">
                    <p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend. Nullam viverra tincidunt dolor, at pulvinar dui. Nullam at risus ut ipsum
                        viverra posuere. Aliquam quis &nbsp;...<br><br></p><button class="btn btn-primary continue-reading-btn" type="button" style="background-color:rgba(0,123,255,0);color:rgb(20,15,15);">Continue Reading</button></div>
                <div class="col-md-4">
                    <h2>Flat-Earth Society: Next-Gen?</h2>
                    <p class="text-black-50" style="height:20px;"><em>March 30, 2018</em></p><img src="assets/img/6.jpg" height="100px">
                    <p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend. Nullam viverra tincidunt dolor, at pulvinar dui. Nullam at risus ut ipsum
                        viverra posuere. Aliquam quis &nbsp;...<br><br></p><button class="btn btn-primary continue-reading-btn" type="button" style="background-color:rgba(0,123,255,0);color:rgb(20,15,15);">Continue Reading</button></div>
            </div>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">TechNews Inc. © 2019</p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>